{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ siteName }}</title>
        <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/css/bootstrap-utilities.min.css">
        <link href="/css/style.css" rel="stylesheet">
        {% if eventDetailsClass is defined %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        {% endif %}     
    </head>
    <body class="{% if bodyClass is defined %}{{ bodyClass }}{% endif %}">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ siteUrl }}"><img src="/img/extravagantEventsLogo.svg" alt="Extravagant Events Catering" class="eeLogo"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mainNaveTxt" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto mr-0 mb-2 mb-lg-10">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url('events-services') }}">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('menus') }}">Menus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('testimonials') }}" tabindex="-1" aria-disabled="true">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('about') }}" tabindex="-1" aria-disabled="true">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('gallery') }}" tabindex="-1" aria-disabled="true">Gallery Info</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

 	    {% block content %}Content goes here{% endblock %}          
         <div class="footerBanner py-4">
            <div class="container">
                <div class="align-items-center row">
                    <div class="footerBannerTag text-center text-md-center col-md-12">Serving DC, Maryland, Delaware, &amp; Virginia</div>
                </div>
            </div>
        </div>
        <footer class="d-print-none position-relative z-index-10" data-pg-dyn-id="did_5">
            <div class="py-6 bg-gray-200 text-muted">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 mb-5 mb-lg-0 rtBrdr">
                            <div class="font-weight-bold mb-3 text-dark text-uppercase">Learn More</div>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-muted" href="{{ url('about') }}">About Us<span class="badge badge-info-light ml-1">New</span></a>
                                </li>
                                <li>
                                    <a class="text-muted" href="{{ url('menus') }}">View Our Menus</a>
                                </li>
                                <li>
                                    <a class="text-muted" href="{{ url('contact') }}">Contact Us<span class="badge badge-info-light ml-1">New</span></a>
                                </li>
                                <li>
                                    <a class="text-muted" href="{{ url('faq') }}">FAQs</a>
                                </li>
                                <li>
                                    <a class="text-muted" href="{{ url('tos') }}">Terms &amp; Conditions</a>
                                </li>
                                <li>
                                    <a class="text-muted" href="{{ url('privacy') }}">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mb-5 mb-lg-0 col-md-6 col-lg-8">
                            <!-- emply placeholder - to be umproved -->
                        </div>
                        <div class="col-lg-2 col-md-3 lftBrdr mb-5 mb-lg-0">
                            <div class="font-weight-bold text-uppercase text-dark mb-3">Get in Touch With Us</div>
                            <p class="mb-3">
                            	+1 (302) 593-2249‬<br/>
                            	info[AT]extravagantevents.com </p>
                            <p class="text-sm mb-md-0">
                            	© 2020, Extravagant Events.<br/>
                            	All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/popper.min.js"></script>
        {% if eventDetailsClass is defined %}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script type="text/javascript">
        	/* TOGGLE FOR FULL SERVICE VS. A LA CART EVENTS */
        	const envType = document.querySelectorAll(".serviceToggle");
        	
        	for (var i = 0, j = envType.length; i < j; i++) {
        		envType[i].addEventListener("click", function () {
        		
					if(document.querySelector(".fullServiceCatering").checked) {
						document.querySelector('.fullServiceCateringForm').classList.remove("hide");
						document.querySelector('.aLaCarteCateringForm').classList.add("hide");
					} else if (document.querySelector(".aLaCarteCatering").checked) {
						document.querySelector('.aLaCarteCateringForm').classList.remove("hide");
						document.querySelector('.fullServiceCateringForm').classList.add("hide");
					}
        		});
        	}
        	
        	/* END FULL SERVICE VS. A LA CART EVENTS TOGGLE */
        	flatpickr(".eventDate", {
        		enableTime: true,
        		dateFormat: "Y-m-d H:i",
        		inline: true
        	});
        </script>
        {% endif %}
    </body>
</html>
