@font-face {
    font-family: Livorno;
    src: url(../fonts/livorno-pro-webfont.woff);
}

@font-face {
    font-family: Avignon;
    src: url(../fonts/avignon-ps-pro-regular-webfont.woff);
}

.eeLogo {
    color: rgba(0,0,0,.9);
    width: 140px;
    max-width: 140px;
}

.bg-dark {
    background-color: #4d4d4d !important;
}

.navbar-toggler {
    position: fixed;
    right: 10px;
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
    z-index: 50;
}

.mainNaveTxt ul li.nav-item a.nav-link.active {
    font-weight: bold;
    color: inherit;
}

.mainNaveTxt ul li.nav-item a.nav-link {
    font-size: 16pt;
    color: white;
}

body {
    font-family: Avignon;
    font-size: 10pt;
    color: #4d4d4d;
}

body.details {
    background: #ececec;
}

h1 {
    font-family: Livorno;
    font-size: 32pt;
    color: #ffcc00;
    text-shadow: 1px 1px 1px #4d4d4d;
    letter-spacing: 0.6px;
}

h2 {
    font-family: Avignon;
    font-size: 18pt;
    color: #4cd964;
    text-shadow: 1px 1px 1px #4d4d4d;
    font-weight: 600;
}

h3 {
    font-family: Avignon;
    font-size: 16pt;
    color: #ff2d55;
}

.hero-home {
    margin-top: 225px;
    margin-bottom: 20px;
    background: #4d4d4d;
}

.hero-home:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100vw;
    height: 280px;
    z-index: -1;
    background-image: url('../img/chuttersnap-aEnH4hJ_Mrs-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center 15%;
    background-size: cover;
    background-origin: initial;
    background-clip: border-box;
}

.footerBanner {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10 !important;
    background: #4d4d4d !important;
}

.footerBannerTag {
    font-family: Livorno;
    font-size: 24pt;
    color: #ffffff;
    font-weight: normal;
}

.rtBrdr {
    border-right: solid 1px #4d4d4d;
}

.lftBrdr {
    border-left: solid 1px #4d4d4d;
}

.headerCopy {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
}

.headerCopy p {
    line-height: 34px;
    font-size: 12pt;
}

/* Card styles */
.featureCard {
    margin-bottom: 20px;
    max-height: 200px;
}

.body .figure {
    display: inline-block;
    padding: 0;
    overflow: hidden;
}

.body .figure-img {
    margin-bottom: .5rem;
    line-height: 1;
}

.body .img-fluid {
    width: 100vw;
    height: auto;
}

.body .figure-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16pt;
    color: white;
    border: none;
    border-radius: 0;
    background: #4d4d4d;
    opacity: 0.8;
    z-index: 1;
}

/* End Card Styles */
.recentNewsHeader {
    color: #ffcc00;
    text-shadow: 1px 1px 1px #4d4d4d;
    text-align: center;
}

.blogEntryCard {
    color: white;
    background: #4d4d4d;
}

.secondaryHeaderCopy {
    padding-top: 40px;
    padding-left: 8vw;
    padding-right: 8vw;
}

.secondaryHeaderDetails {
    padding-top: 40px;
}

.btn-primary {
    font-weight: bold;
    color: #4d4d4d;
    background-color: #ffcc00;
    border-color: #ffcc00;
}

.btn-primary:hover {
    color: #ececec;
    background-color: #FF2D55;
    border-color: #FF2D55;
}

.btn-flwdth {
	width: 100%;
}

.ee-card {
    margin-bottom: 20px;
    min-height: 407px;
    text-decoration: none !important;
    background: #999999;
}

.ee-card:hover {
    background: #4d4d4d;
}

.ee-card .card-img-top {
    max-height: 250px;
    margin-bottom: 75px;
    border: 10px solid #4d4d4d;
}

.ee-card:hover .card-img-top {
    border: 10px solid #999999;
}

.ee-card:hover .btn-primary {
    color: #ececec;
    background-color: #FF2D55;
    border-color: #FF2D55;
}

.ee-card .btn-flwdth {
	position: absolute;
	bottom: 10px;
	width: 93%;
}

.testimonial {
    margin-bottom: 20px;
}

.ee-card p {
    margin: 0 10px;
    color: black;
}

.ee-card:hover p {
    color: white;
}

.ee-card .card-body {
	position: relative;
}

.detailsBlock {
    background: white;
    border: 1px solid #4d4d4d;
    padding: 20px;
}

.detailsBlock .mainPic {
    display: block;
    width: auto;
    max-width: 70%;
    margin-bottom: 20px;
}

.detailsBlock hr {
    background: pink;
    height: 3px;
    width: 75%;
    margin: 20px auto;
}

.detailsBlock p.subPar, 
.detailsBlock span.subPar {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.reservationBlock h3 {
    height: 45px;

    /* padding-top: 5px */
    /* padding-bottom: 5px */
    color: #ffffff;
    text-align: right;
    line-height: 45px;
    background: #4d4d4d;
    font-variant: small-caps;
    text-transform: capitalize;
    word-break: normal;
    padding-right: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 0 5px 10px 0;
}

.reservationBlock h5 {
    display: block;
    margin: 10px 0 5px 0;
    padding: 0;
}

.reservationBlock hr {
    margin: 0 0 5px 0;
}

.reservationBlock fieldset {
    margin: 10px auto;
}

.testimonial p:not(.lead) {
	font-size: 1.25rem;
	font-weight: 300;
}

.galleryPics {
	border: none;
}

.galleryPics img {
	width: 100%;
	border-radius: 1rem;
}

.companyFacts {
    height: 600px;
    color: #4d4d4d;
    background: #ffcc00;
    border-radius: 0;
}

.companyArea {
    height: 600px;
    background-image: url('../img/mapPlaceholder.png');
}

.fullServiceCateringForm.hide,
.aLaCarteCateringForm.hide {
	display: none;
}

@media (min-width:992px) {
    body.details {
        background: linear-gradient(#fff 0% 140px, #ececec 140px 100%);
    }

    .navbar {
        padding-top: 45px;
        height: 48px;
    }

    .eeLogo {
        width: auto;
        max-width: 100%;
    }

    .mainNaveTxt {
        margin-top: 13px;
    }

    .hero-home {
        margin-top: 250px;
        background: #4d4d4d;
    }

    .featureCard {
        margin-bottom: 20px;
        max-height: 300px;
    }

    .secondaryHeaderDetails h1 {
        display: flex;
    }

    .secondaryHeaderDetails h1::before {
        content: "";
        flex: 1;
        margin-right: 1%;
        margin-top: 2%;
        height: 0px;
        border-top: 1px solid black;
        z-index: 3333;
    }

    .secondaryHeaderDetails h1::after {
        content: "";
        flex: 1;
        margin-left: 1%;
        margin-top: 2%;
        height: 0px;
        border-top: 1px solid black;
        z-index: 3333;
    }
}

.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-29 2:9:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

