{#
 # ABout template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% block content %}
        <section class="container secondaryHeaderCopy">
            <div class="py-6 py-md-7 z-index-20">
                <div class="row"> 
                    <div class="col-xl-12">
                        <div class="headerCopy text-center">
                            <h1>About Us</h1>
                            <p>
                            	{{ entry.aboutUsCopy }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="body">
            <div class="row">
                <div class="col-sm-6 gx-0">
                    <a href="#" class="card ee-card">  <div class="companyFacts">
                            <img src="/img/companyInfo.svg" style="margin: 30px 0 0 20px;"/>
                        </div> </a>
                </div>
                <div class="col-sm-6 gx-0">
                    <a href="#" class="card ee-card">  <div class="card-body companyArea">
</div> </a>
                </div>
            </div>
        </section>
        <span class="btn btn-lg btn-primary" style="margin: 0 40%; width: 20%;">Contact Us</span>
{% endblock %}  