{#
 # Blog template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% block content %}
        <section class="container-fluid secondaryHeaderDetails">
            <div class="py-6 py-md-7 z-index-20">
                <div class="row"> 
                    <div class="col-xl-12">
                        <div class="headerCopy text-center">
                            <h1>Blog Post Title Here</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 detailsBlock testimonial">
                    <div class="row">
                        <h2>Date: January 1, 2020</h2>
                        <p class="col-10 lead">
						  Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
						  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.
						  Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper.   </p>
                        <img src="img/noun_User_1335326.svg" class="col-2"/>
                    </div>
                    <p>
            			Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.
            			Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. </p>
                    <img src="http://pinegrow.com/placeholders/img11.jpg" class="img-thumbnail mainPic mx-auto"/>
                    <p class="subPar text-center text-sm-center">Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod.</p>
                    <hr class="subPar text-sm-center"/>
                    <h4 class="subPar text-center text-sm-center">Heading 4</h4>
                    <p class="subPar text-center text-sm-center">Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod.</p>
                    <hr class="subPar text-sm-center"/>
                    <h4 class="subPar text-center text-sm-center">Heading 4</h4>
                    <p class="subPar text-center text-sm-center">Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna.Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                </div>
            </div>
        </section>
{% endblock %}  