{#
 # Event Details template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}
{% set bodyClass = 'details' %}
{% set eventDetailsClass = 'evntDtls' %}
{% block content %}
        <section class="container-fluid secondaryHeaderDetails">
        	{% set productList = craft.entries().section('productDetails').relatedTo(category) %}
			{% set entries = productList.all() %}	
            <div class="py-6 py-md-7 z-index-20">
                <div class="row"> 
                    <div class="col-xl-12">
                        <div class="headerCopy text-center">
                            <h1>{{ category.catname }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-xs-12 detailsBlock">
                    <h2>{{ category.eventHeader1 }}</h2>
                    <span class="lead">
            			{{ category.eventintro }}
            		</span>
            		{% if category.eventphoto|length %}
					{% set catImg = category.eventphoto.one() %}
                    <img src="{{ catImg.url }}" class="img-thumbnail mainPic mx-auto" alt="{{ category.eventPhotoCaption }} "/>
                    {% endif %}
                    <span class="subPar text-center text-sm-center">
                    	{{ category.eventCopy1 }}
                    </span>
                    <hr class="subPar text-sm-center"/>
                    <h4 class="subPar text-center text-sm-center">{{ category.eventHeader2 }}</h4>
                    <span class="subPar text-center text-sm-center">
                		{{ category.eventCopy2 }}
                	</span>
                    <hr class="subPar text-sm-center" />
                    <!-- 
                    <h4 class="subPar text-center text-sm-center">Heading 4</h4>
                    <p class="subPar text-center text-sm-center">
                    	Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna.Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                    </p>
                    -->
                </div>
                <aside class="col-md-3 reservationBlock">
                    <header>
                        <h3>Reserve your event now!</h3>
                    </header>
                    {% macro errorList(errors) %}
						{% if errors %}
							<ul class="errors">
								{% for error in errors %}
									<li>{{ error }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					{% endmacro %}
					
					{% from _self import errorList %}
					{% set form = wheelform.form({
						id: 2,
						redirect: 'contact/thanks',
					}) %}
					
					{{ wheelformErrors['form'] is defined ? errorList(wheelformErrors['form']) }}
                     <form method="post" action="" accept-charset="UTF-8" novalidate="" enctype="multipart/form-data">
						{{ csrfInput() }}
						<input type="hidden" name="action" value="wheelform/message/send">
						<input type="hidden" name="form_id" value="1">
						<input type="hidden" name="redirect" value="{{ 'contact/thanks'|hash }}">
                    	<fieldset>
                    		<label for="customerName" class="form-label">Enter Your Full Name</label>
                            <input type="text" class="form-control" id="customerName" data-pg-name="customerName" placeholder="Enter your full name" name="customerName" {{ values['customerName'] ?? '' }}>
                            {{ wheelformErrors['customerName'] is defined ? errorList(wheelformErrors['customerName']) }}
                        	<br />
                        	<label for="customerNumber" class="form-label">Enter Your Phone Number</label>
                            <input type="tel" class="form-control" id="customerNumber" data-pg-name="customerNumber" placeholder="Enter your phone number" name="customerNumber">
                       		<br />
                        	<label for="customerEmail" class="form-label">Enter Your Email Address</label>
                            <input type="email" class="form-control" id="customerEmail" data-pg-name="customerEmail" placeholder="Enter your email address" name="customerEmail">
                            <br />
                            <hr />
                    	</fieldset>
                        <fieldset>
                            <input type="radio" name="cateringType" value="Full Sevice" class="fullServiceCatering serviceToggle" checked="checked"></input>
                            <label>Full Service Catering</label>
                            <br/>
                            <input type="radio" name="cateringType" value="A la Carte" class="aLaCarteCatering serviceToggle"></input>
                            <label>A la Carte Catering</label>
                        </fieldset>
                        <select class="form-select" aria-label="Default select menuList" name="menuList">
                            <option selected>Select a menu for your event</option>
                             {% set menuList = craft.entries().section('menusEntries') %}
							 {% set menus = menuList.all() %}
							 {% for menu in menus %}
							 <option value="{{ menu.menuTitle }}">{{ menu.menuTitle }}</option>
							 {% endfor %}
                        </select>
						<small class="text-muted blockquote-footer">
						  <a href="/menus">Review Menus</a>
						</small> 
                        <br /> 
                        <hr/>
                        <fieldset> 
                            <label for="exampleInputPassword1" class="form-label">Number of People:</label>
                            <input type="text" class="form-control" id="numberOfPeople" data-pg-name="numberOfPeople" placeholder="Enter # of people" name="numberOfPeople">
                        </fieldset>
                        <span class="fullServiceCateringForm">
                        <hr/>
                        <h5>Bar Service</h5>
                        <hr/>
                        <fieldset>
                            <input type="checkbox" name="cateringFullServiceExtras" value="Sodas, Sparkling Water, Coffee"></input>
                            <label type="checkbox">Sodas, Sparkling Water, Coffee</label>
                            <br />
                            <input type="checkbox" name="cateringFullServiceExtras" value="Corkage Fee  Client Stock"></input>
                            <label>Corkage Fee  Client Stock</label>
                            <br />
                            <input type="checkbox" name="cateringFullServiceExtras" value="Full Bar"></input>
                            <label>Full Bar</label>
                        </fieldset>
                        </span>
                        <span class="aLaCarteCateringForm hide">
                        <fieldset>
                            <input type="checkbox" name="cateringaLaCartOptions" value="Hor D'oevres"></input>
                            <label>Hor D'oevres - $5/person</label>
                            <br/>
                            <input type="checkbox" name="cateringaLaCartOptions" value="Entres"></input>
                            <label>Entres - $10/person</label>
                            <br/>
                            <input type="checkbox" name="cateringaLaCartOptions" value="Side Dishes"></input>
                            <label>Side Dishes - $5/person</label>
                            <br/>
                            <input type="checkbox" name="cateringaLaCartOptions" value="Salads"></input>
                            <label>Salads - $5/person</label>
                            <br/>
                            <input type="checkbox" name="cateringaLaCartOptions" value="Desserts" name="dateTime"></input>
                            <label>Desserts - $5/person</label>
                        </fieldset>
                        <hr/>
                        <h5>Extras</h5>
                        <hr/>
                        <fieldset>
                            <input type="checkbox" name="cateringaLaCarExtras" value="Soft Drinks & Water"></input>
                            <label type="checkbox">Soft Drinks & Water - $3/person</label>
                            <br type="checkbox"/>
                            <input type="checkbox" name="cateringaLaCarExtras" value="Paper Goods"></input>
                            <label>Paper Goods - $2/person</label>
                        </fieldset>
                        </span>
                        <fieldset>
                        	<hr />
                        	 <div class="eventDate">
                                <input type="text" placeholder="Select Date.." data-input> 
                                <!-- input is mandatory -->
                                <a class="input-button" title="toggle" data-toggle> <i class="icon-calendar"></i> </a>
                                <a class="input-button" title="clear" data-clear> <i class="icon-close"></i> </a>
                            </div>
                        </fieldset>
                    	<input type="submit" class="btn btn-flwdth btn-lg btn-primary" value="Reserve Your Event" />
                    </form>
                </aside>
            </div>
        </section>
{% endblock %}  