{#
 # Events template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% block content %}
        <section class="container secondaryHeaderCopy">
            <div class="py-6 py-md-7 z-index-20">
                <div class="row"> 
                    <div class="col-xl-12">
                        <div class="headerCopy text-center">
                            <h1>Events for all occasions</h1>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="body container-md">
        	{% set eventType = craft.categories().group('eventsServices') %}
			{% set events = eventType.all() %}	
            <div class="row">
				{% for entry in events %}
                <div class="col-sm-4">
                    <a href="{{ entry.url }}" class="card ee-card">
						{% set catImg = entry.catphoto.one() %} 
                    	<img src="{{catImg.url}}" class="card-img-top" alt="{{ entry.catname }}">
                    	<div class="card-body">
                            <span class="btn btn-flwdth btn-lg btn-primary">{{ entry.catname }}</span>
                        </div> 
                    </a>
                </div>                
			   {% endfor %}
            </div>
        </section>
{% endblock %}  