{#
 # General template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% block content %}
        <section class="container secondaryHeaderCopy">
            <div class="py-6 py-md-7 z-index-20">
                <div class="row"> 
                    <div class="col-xl-12">
                        <div class="headerCopy text-center">
                            <h1>Events for all occasions</h1>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="body container-md">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#" class="card ee-card"> <img src="img/alasdair-elmes-1pQJPnRkRwk-unsplash.jpg" class="card-img-top" alt="..."> <div class="card-body">
                            <span class="btn btn-flwdth btn-lg btn-primary">Weddings</span>
                        </div> </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="card ee-card"> <img src="img/chuttersnap-Q_KdjKxntH8-unsplash.jpg" class="card-img-top" alt="..."> <div class="card-body">
                            <span class="btn btn-flwdth btn-lg btn-primary">Corporate Events</span>
                        </div> </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="card ee-card"> <img src="img/Winter Fundraiser Plated Dinner 15_1lakeislecaterers-web.jpg" class="card-img-top" alt="..."> <div class="card-body">
                            <span class="btn btn-flwdth btn-lg btn-primary">Fund Raisers</span>
                        </div> </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="card ee-card"> <img src="img/chuttersnap-aEnH4hJ_Mrs-unsplash.jpg" class="card-img-top" alt="..."> <div class="card-body">
                            <span class="btn btn-flwdth btn-lg btn-primary">Dinner Party</span>
                        </div> </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="card ee-card"> <img src="img/65th Birthday Cold Buffet Reception.webp" class="card-img-top" alt="..."> <div class="card-body">
                            <span class="btn btn-flwdth btn-lg btn-primary">Celebrations</span>
                        </div> </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="card ee-card"> <img src="img/Valentine's Day Brunch Buffet-lake-terrace-brunch.jpg" class="card-img-top" alt="..."> <div class="card-body">
                            <span class="btn btn-flwdth btn-lg btn-primary">Holiday Meals</span>
                        </div> </a>
                </div>
            </div>
        </section>
{% endblock %}  