{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% block content %}
        <section class="container-fluid hero-home">
            <div class="headerPic py-6 py-md-7 text-white z-index-20">
                <div class="row"> 
                    <div class="col-xl-12">
                        <div class="headerCopy text-center">
                            <h1>Specializing In Divine Cuisine</h1>
                            <p>Thank you for your interest in Extravagant Events LLC. We are looking forward to learning how we can help make your event both extravagant and unforgettable. We will have our new site here open soon! In the meain time contact us at: 302-593-2249</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="body container-md">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card featureCard">
                        <div class="card-body figure">
                            <img src="img/t40_1317245959208-weddingdessertdisplay.jpg" class="figure-img img-fluid"/>
                            <a href="{{ url('events-services') }}" class="btn btn-primary figure-caption">Events &amp; Services</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card featureCard">
                        <div class="card-body figure">
                            <img src="img/weddingBuffet-1.jpg" class="figure-img img-fluid"/>
                            <a href="{{ url('menus') }}" class="btn btn-primary figure-caption">Menus &amp; Options</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card featureCard">
                        <div class="card-body figure">
                            <img src="img/alasdair-elmes-ULHxWq8reao-unsplash.jpg" class="figure-img img-fluid"/>
                            <a href="{{ url('testimonials') }}" class="btn btn-primary figure-caption">Testimonials</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card featureCard">
                        <div class="card-body figure">
                            <img src="img/chuttersnap-aEnH4hJ_Mrs-unsplash.jpg" class="figure-img img-fluid"/>
                            <a href="{{ url('gallery') }}" class="btn btn-primary figure-caption">Event Gallery</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h5 class="recentNewsHeader">Recent News</h5>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="blogEntryCard card-body">
                            <h5 class="card-title">Blog Post 1</h5>
                            <p class="card-text">Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="blogEntryCard card-body">
                            <h5 class="card-title">Blog Post 2</h5>
                            <p class="card-text">Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="blogEntryCard card-body">
                            <h5 class="card-title">Blog Post 3</h5>
                            <p class="card-text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}    