{#
 # Menu Details template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}
{% set bodyClass = 'details' %}
{% block content %}
        <section class="container-fluid secondaryHeaderDetails">
            <div class="py-6 py-md-7 z-index-20">
                <div class="row"> 
                    <div class="col-xl-12">
                        <div class="headerCopy text-center">
                            <h1>{{ entry.menuTitle }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 detailsBlock">
                    <h2>{{ entry.menuMainHeader }}</h2>
                    <span class="lead">
            			{{ entry.menuIntro }} 
            		</span> 
                    {% set menuImg = entry.menuPhoto.one() %} 
                    <img src="{{menuImg.url}}" class="img-thumbnail mainPic mx-auto" alt=".{{ entry.menuPhotoCaption }}.." class="img-thumbnail mainPic mx-auto"/>
                    <span class="subPar text-center text-sm-center">
                    	{{ entry.menuPhotoCaption }}
                    </spam>
                    <hr class="subPar text-sm-center"/>
                    {% for block in entry.menucontent.all() %}
                    {% if block.type == "menuCopy" %}
                    <h4 class="subPar text-center text-sm-center">{{ block.menuHeader }}</h4>
                    <span class="subPar text-center text-sm-center">
                    	{{ block.menuBodyCopy }}
                    </span>
                    {% endif %}
                    {% endfor %}
                    <hr class="subPar text-sm-center"/>
            	 </div>
            </div>
        </section>
{% endblock %}  