{#
 # Menu template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% block content %}
        <section class="container secondaryHeaderCopy">
            <div class="py-6 py-md-7 z-index-20">
                <div class="row"> 
                    <div class="col-xl-12">
                        <div class="headerCopy text-center">
                            <h1>Find the perfect menu for your occasion</h1>
                            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="body container-md">
        {% set menuList = craft.entries().section('menusEntries').relatedTo(category) %}
		{% set menus = menuList.all() %}
            <div class="row">
            	{% for menu in menus %}
            	{% if loop.first %}
                <div class="col-sm-4 col-sm-8">
                    <a href="{{ menu.url }}" class="card ee-card"> 
                    	{% set menuImg = menu.menuPhoto.one() %} 
                    	<img src="{{menuImg.url}}" class="card-img-top" alt=".{{ menu.menuPhotoCaption }}.."> 
                    	<div class="card-body">
                            <span class="btn btn-flwdth btn-lg btn-primary">{{ menu.menuTitle }}</span>
                        </div> 
                    </a>
                </div>
                {% else %}
                <div class="col-sm-4">
                    <a href="{{ menu.url }}" class="card ee-card"> 
                    	{% set menuImg = menu.menuPhoto.one() %} 
                    	<img src="{{menuImg.url}}" class="card-img-top" alt=".{{ menu.menuPhotoCaption }}.."> 
                    	<div class="card-body">
                            <span class="btn btn-flwdth btn-lg btn-primary">{{ menu.menuTitle }}</span>
                        </div> 
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
{% endblock %}  