{#
 # Testimonials template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}
{% set bodyClass = 'details' %}
{% block content %}
        <section class="container-fluid secondaryHeaderDetails">
            <div class="py-6 py-md-7 z-index-20">
                <div class="row"> 
                    <div class="col-xl-12">
                        <div class="headerCopy text-center">
                            <h1>Testimonials</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            {% set entries = craft.entries.section("testimonialsEntries").all() %}
            {% for entry in entries %}
            
            {% for block in entry.testimonials.all() %}
			   {% if block.type == "testimonialentry" %}
                <div class="col-xs-12 detailsBlock testimonial">
                    <div class="row">
                        <h2>{{ block.customerName }}</h2>
                        <span class="col-10">
                        	{{ block.customerTestimonial }}
                        </span>
                        {% set tstmImg = block.customerPhoto.one() %} 
                   		 <img src="{{tstmImg.url}}" class="col-2"/>
                    </div>
                </div>
            	{% endif %}
            {% endfor %}
            
            {% endfor %}
            </div>
        </section>
{% endblock %}  